@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: Inter;
    color: white;
}

body{
    background-color: #1e212e;
    margin: 0px;
    margin-top: 90px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px 0 30px
}

/* CSS HEADER */
header{
    font-size: x-large;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px); /* Intensidade do desfoque */
    -webkit-backdrop-filter: blur(10px);
}

header .container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.nome{
    color: #e39d07;
    font-weight: bold;
}

header p{margin: 0px;}

header a{
    margin-left: 10px;
    text-decoration: none;
    transition: 0.3s;
}
header a:hover{
    color: #e0811b;
    transition: 0.3s;
}

.destaque{
    border-bottom: 2px solid #e39d07;
}

.linha{
    border: 2px solid rgb(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
}

/* CSS MAIN - SOBRE MIM */

.titulo{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.titulo h2{
    padding-right: 10px;
    white-space: nowrap;
}
.titulo hr{
    width: 100%;
    height: 0px;
    border: 2px solid #e39d07;
    border-radius: 5px;
}

.informacoes{
    display: flex;
    align-items: center;
    font-size: x-large;
}
.fotoPerfil{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 30px;
}

.informacoes span{
    /* color: #E39D07; */
    background: -webkit-linear-gradient(#e39d07, #e0811b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.informacoes p, .card_contato p{
    color: rgb(255, 255, 255, 0.5);
    font-style: italic;
}

.resumo{
    font-size: large;
}

li{
    font-size: large;
}

ul li::marker {
  color: #E39D07; /* cor da bolinha */
}

.ferramentas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.ferramentas div{
    padding: 20px;
    border: 3px solid #e39d07;
    border-radius: 30px;
    transition: 0.3s;
}
.ferramentas div:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}

.ferramentas img{
    width: 60px;
    height: 60px;
}

.card_contato{
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    border: 3px solid rgb(255, 255, 255, 0.1);
    border-radius: 35px;
    text-decoration: none;
    transition: 0.3s;
}
.card_contato:hover{
    border: 3px solid #E39D07;
    scale: 1.01;
    transition: 0.3s;
}

.card_contato img{
    background: linear-gradient(135deg,#e39d07 0%, #e0811b 100%);
    margin-right: 20px;
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 15px;
}

.card_contato h2, .card_contato p{
    margin: 0px;
}

.card_contato div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

/* CSS MAIN - PROJETOS */
.card_projeto{
    padding: 20px;
    border: 3px solid rgb(255, 255, 255, 0.1);
    border-radius: 35px;
    margin-bottom: 20px;
}
.card_projeto div{
    display: flex;
    align-items: center;
    flex-wrap: wrap
}
.card_projeto img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.card_projeto h2{
    margin: 0;
}
.link{
    color: rgb(255, 255, 255, 0.5);
    font-style: italic;
    margin: 0;
    overflow-wrap: break-word;
}
.tags{margin: 10px 0;}
.tags b{
    margin-right: 5px;
}
.tags p{
    background-color: rgb(255, 255, 255, 0.1);
    padding: 7px;
    border-radius: 30px;
    margin: 0 5px 3px 0;

}
.card_projeto button{
    width: 100%;
    text-align: center;
    background-color: #e39d07;
    text-decoration: none;
    padding: 10px;
    font-size: large;
    border: 0;
    color: #1e212e;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.card_projeto button:hover{
    background-color: #e0811b;
    scale: 1.01;
    transition: 0.3s;
}

/* CSS RODAPÉ */
footer{
    background-color: #e39d07;
    text-align: center;
    color: #1e212e;
    padding: 20px;
    margin-top: 40px;
}

/* Media Query */
@media (max-width: 740px){
    header{
    font-size: large;
    }

    .informacoes{
        font-size: large;
    }
        
    .resumo{
        font-size: medium;
    }

    li{
        font-size: medium;
    }
    .card_projeto button{
        font-size: medium;
    }

    .fotoPerfil{
        width: 200px;
        height: 200px;
        margin-right: 20px;
    }
}

@media (max-width: 550px){
    header a{
        font-size: small;
    }
    .informacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .fotoPerfil{
        margin-right: 0px;
    }
    .card_contato{
        padding: 10px;
        border-radius: 20px;
    }
    .card_contato img{
        margin-right: 10px;
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 10;
    }
    .card_contato h2{
        font-size: medium;
    }
    .card_contato p{
        font-size: small;
    }
}